.container {
  display: grid;
  height: 84vh;
  gap: 5px;
  grid-template-columns: 100px 150px;
  grid-template-areas:
      "item-1 item-2"
      "item-1 item-3"
      "item-1 item-4";
}

  .item-1 {
      grid-area: item-1;
      background-image: url(./assets/images/imagem\ 01.svg);
      background-size: 38em;
      margin-left: -4em;
}

.item-2 {
  grid-area: item-2;
  background-image: url("./assets/images/imagem\ 02.svg");
}
.item-3 {
    grid-area: item-3;
    background-image: url("./assets/images/imagem\ 03.svg");

}
.item-4 {
    grid-area: item-4;
    background-image: url("./assets/images/imagem\ 04.svg");
}